@font-face {
    font-family: cera-pro;
    src: url(font/Cera\ Pro\ Regular.otf);
  }

@font-face {
    font-family: cera-pro_italic;
    src: url(font/Cera\ Pro\ Regular\ Italic.otf);
  }

@font-face {
    font-family: cera-pro_bold;
    src: url(font/Cera\ Pro\ Bold.otf);
  }

a, a:hover {
  color: white;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

button {
  background-color: #009BAA;
  color: white;
  border: none;
  padding: 5px 20px 5px 20px;
  border-radius: 2px;
}

table {
  margin: 50px 0px 50px 0px;
  width: 100%;
}

th {
  background-color: #009BAA;
  color: white;
  padding: 5px 15px 5px 15px;
}

td {
  padding: 8px 15px 8px 15px;
}

.coloredTr {
  background-color: #009caa2a;
}

.tableIcons {
  max-height: 15px;
  object-fit: contain;
  cursor: pointer;
  margin-right: 20px;
  float: right;
}

.presenceIcon {
  max-height: 25px;
  object-fit: contain;
  margin-right: 10px;
}

.questionIcon {
  max-height: 20px;
  object-fit: contain;
  margin-left: 20px;
}

.inputfield, .inputfield:hover {
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 30px;
}

.textarea {
  min-height: 200px;
  
}

/* Small screen */

@media (max-width: 992px) { 
    html, body {
        background-color: white;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: cera-pro;
    }
    
    .menu {
        background-color: #009BAA;
        color: white;
        height: 200px;
    }
    
    .navigation {
      display: none;
    }
    
    .logo {
        max-height: 150px;
        margin: 25px;
    }
    
    .content {
        margin: 50px 30px 30px 30px;
    }

    .seeScreen {
      position: absolute;
      right: 0;
      height: 40px;
    }

    .seeScreenImg {
      margin-left: 15px;
      max-height: 20px;
      object-fit: contain;
    }

}

/* Big screen */

@media (min-width: 992px) { 

    html, body {
        background-color: white;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: cera-pro;
    }

    .menu {
        background-color: #009BAA;
        color: white;
        height: 100vh;
    }

    .navigation {
      display: block;
    }

    .logo {
        max-width: 100%;
        margin: 50px 0px 20px 0px;
    }

    .content {
        margin-top: 60px;
    }

    .menuItem {
        height: 70px;
        padding: 18px 25px 0px 25px;
        font-size: 18pt;
    }

    .icon {
      height: 20px;
      margin-top: 7px;
      object-fit: contain;
      margin-right: 15px;
    }

    .active {
      border-left: 5px solid white;
      background-color: rgba(255, 255, 255, 0.10);
    }

    .collapsMenuItem {
        background-color: #00000010;
        height: 60px;
        padding: 10px 35px 0px 35px;
        font-size: 16pt;
    }

    .collapsActive{
      border-left: 5px solid white;
      background-color: rgba(0, 0, 0, 0.03) !important;
    }

    .availability {
        height: 100px;
        position:absolute;
        bottom:0;
    }

    .hidden{
      cursor: pointer;
      visibility: hidden;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 54px;
        height: 26px;
        margin: 0px 10px 0px 15px;
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .red {
        background-color: #ffc1c1;
      }

      .red:before {
        background-color: #FF0000;
      }

      .orange {
        background-color: #ffeab0;
      }

      .orange:before {
        background-color: #E0A400;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 3px;
        bottom: 2px;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #d1ffd2;
      }
      
      input:focus + .slider {
        box-shadow: 0;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(25px);
        -ms-transform: translateX(25px);
        transform: translateX(25px);
        background-color: #00A305;
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }

      .seeScreen {
        position: absolute;
        right: 0;
        margin-right: 15px;
        height: 40px;
      }

      .save {
        margin-right: 0px !important;
        margin-top: 10px;
      }

      .seeScreenImg {
        margin-left: 15px;
        max-height: 25px;
        object-fit: contain;
      }

      .addPost{
        height: 50px;
        width: 250px;
        margin-top: 20px;
        text-align: left;
      }

      .addPostImg {
        float: right;
        margin-right: 5px;
        max-height: 25px;
        object-fit: contain;
      } 

      .day {
        background-color: #009caa2a;
        font-size: 11pt;
        border-radius: 3px;
        padding: 10px;
        margin: 5px 0px 5px 0px;
      }

      .state {
        padding-left: 50px;
      }

      input[type=time]   {
        margin: 5px 5px 0px 5px;
        border: none;
        border-radius: 3px;
        width: 100px;
      }
}