.container-fluid{
    background-image: url('bg.svg');
}

.container-fluid h1{
    font-size: 40px;
}

.container-fluid p{
    font-size: 26px;
}

.content{
    color: white;
}

.docenten{
    background-color: #FFFFFF;
}

.scroller{
    background-color: #009BAA;
}

.content{
    height: 75vh;
}