.component-sidebar {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    height: 95vh;
    min-width: 258px;
    margin-right: 20px;
    margin-top: 20px;
    border-left: 5px solid #009BAA;
    border-bottom: 5px solid #009BAA;
    background-color: white;
}

.half-border {
    width: 5px;
    background-color: #009BAA;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
}

.state{
    height: 20px;
    margin: 10px 20px 0px 0px;
}