/* Slideshow */

.slideshow {
  margin: 0 auto;
  height: 125vh;
  width: 80vw;
  overflow: hidden;
}

.slideshowSlider {
  display: flex;
  white-space: nowrap;
  transition: ease 1000ms;
  height: 75vh;
}

.slideshowSliderWrapper {
  grid-column: 1;
  grid-row: 1;
  height: 100vh;
}

.slide {
  display: inline-block;
  height: 100vh;
  width: 100%;
  white-space: break-spaces;
}

.slideFrame {
  border: none;
  height: 80vh;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
}

.slideType {
  font-weight: bold;
  background-color: #009BAA;
  color: white;
  font-size: 26px;
  margin-left: 17vw;
  margin-top: 3.5vh;
  width: 60vw;
  height: 5.5vh;
  padding: 10px 25px 30px 25px;
  overflow: hidden;
  margin-right: 10px;
  display: block;
  position: relative;
}

.slideType p {
  display: inline-block !important;
  margin-right: 50px;
  margin-left: 50px;
 }

 .anim {
   width: max-content;
   position: absolute;
     /* Starting position */
  -moz-transform:translateX(0%);
  -webkit-transform:translateX(0%);	
  transform:translateX(0%);
  /* Apply animation to this element */	
  -moz-animation: example1 25s linear infinite;
  -webkit-animation: example1 25s linear infinite;
  animation: example1 25s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
  0%   { -moz-transform: translateX(50%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes example1 {
  0%   { -webkit-transform: translateX(50%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes example1 {
  0%   { 
  -moz-transform: translateX(50%); /* Firefox bug fix */
  -webkit-transform: translateX(50%); /* Firefox bug fix */
  transform: translateX(50%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }

.slideContent {
  height: 75vh;
  width: 80vw;
  padding-top: 25vh;
}

.rssWrapper > h2 {
  margin-bottom: 1px;
}

.rssDescriptionWrapper > p, 
.rssDescriptionWrapper > h1, 
.rssDescriptionWrapper > h2, 
.rssDescriptionWrapper > h3, 
.rssDescriptionWrapper > h4, 
.rssDescriptionWrapper > h5, 
.rssDescriptionWrapper > h6 {
  margin: unset;
}

.rssImage {
  max-width: 477px;
  float: right;
}

.textMuted {
  color: #d4d4d4;
}

/* Buttons */

.slideshowDots {
  background-color: #FFFFFF;
  text-align: center;
  display: flex;
  align-items: flex-end;
  width: 64vw;
  margin-left: 15vw;
  margin-top: 4vh;
}

.titleHeader{
  display: inline-block;
}

.slideshowDot {
  display: inline-block;
  height: 6vh;
  width: 20vw;
  cursor: pointer;
  margin: 0 0 0 2vw;
  background-color: #009BAA;
  opacity: 50%;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

.logo{
  background-image: url('img/NHLStenden_logo_groen-01.svg');
  background-repeat: no-repeat;
  background-size: 12vw 10vw;
  width: 12vw;
  height: 100%;
  margin: 2vw 0 0 2vw;
  display: inline-block;
  float: left;
}

.footer{
  height:30vh;
  display:inline-block;
}

.resource {
  margin-top: 2%;
  text-align: left;
  height: 80%;
  display: flex;
}