@font-face {
    font-family: cera-pro;
    src: url(fonts/Cera\ Pro\ Regular.otf);
  }

html{
    height: 100vh;
}

body {
    font-family: cera-pro;
}

.component-app {
    width: 100vw;
    height: 75vh;
    display: flex;
    background-image: url('img/bg.png');
}

.component-app-no-screen {
    width: 100vw;
    color: darkslategray;
    font-size: 1.2rem;
}

.no-screen-center {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 15%;
}

.no-screen-admin-button {
    font-size: 1rem;
    text-decoration: none;
    color: wheat;
    cursor:pointer;
    padding: 5px;
    background-color: darkslategray;
    border-radius: 5px;
}

.loading-screen {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 75vh;
}